<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>TAT</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAllowsArbitraryLoads</key>
	<true/>
	<key>NSAllowsArbitraryLoadsInWebContent</key>
	<true/>
	<key>NSFaceIDUsageDescription</key>
	<string>Check change password</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>NSAppleMusicUsageDescription</key>
	<string> App 需要您的同意, 才能訪問媒體資料庫</string>
	<key>NSCalendarsUsageDescription</key>
	<string> App 需要您的同意, 才能訪問日曆</string>
	<key>NSContactsUsageDescription</key>
	<string> App 需要您的同意, 才能訪問通信錄</string>
	<key>NSMotionUsageDescription</key>
	<string> App 需要您的同意, 才能訪問運動與健身</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string> App 需要您的同意, 才能訪問相簿</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string> App 需要您的同意, 才能訪問語音識別</string>
    
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSExceptionDomains</key>
      <dict>
        <key>ntut.edu.tw</key>
        <dict>
          <!-- enable subdomains such as sub.yourserver.com -->
          <key>NSIncludesSubdomains</key>
          <true/>
          <!-- allow standard HTTP requests, thus negating the ATS -->
          <key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
          <true/>
          <!-- specify the minimum TLS version to accept -->
          <key>NSTemporaryExceptionMinimumTLSVersion</key>
          <string>TLSv1.2</string>
        </dict>
      </dict>
    </dict>
</dict>
</plist>
