name: CI

on:
  push:
    branches: [ master ]
  pull_request:

jobs:

  build-ios:

    name: Build iOS
    runs-on: macos-latest

    steps:

    - name: Checkout codebase
      uses: actions/checkout@v3

    - name: Select Xcode 26.2
      run: sudo xcode-select -s /Applications/Xcode_26.2.app/Contents/Developer

    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.7.x'
        cache: true

    - name: Install SSH Key
      uses: shimataro/ssh-key-action@v2
      with:
        key: ${{ secrets.SSH_KEY }}
        known_hosts: ${{ secrets.KNOWN_HOSTS }}

    - name: Add Github Token
      uses: oleksiyrudenko/gha-git-credentials@v2
      with:
        token: '${{ secrets.TAT_CORE_ACCESS_TOKEN }}'
        email: '${{ secrets.EMAIL }}'

    - name: Get dependencies
      run: flutter pub get

    - name: Patch iOS plugins
      run: ./scripts/patch_ios.sh

    - name: Build app
      run: flutter build ios --no-codesign --flavor beta

  build-android:

    name: Build Android
    runs-on: ubuntu-latest

    steps:

    - name: Checkout codebase
      uses: actions/checkout@v3

    - name: Setup JDK 17
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.7.x'
        cache: true

    - name: Install SSH Key
      uses: shimataro/ssh-key-action@v2
      with:
        key: ${{ secrets.SSH_KEY }}
        known_hosts: ${{ secrets.KNOWN_HOSTS }}

    - name: Add Github Token
      uses: oleksiyrudenko/gha-git-credentials@v2
      with:
        token: '${{ secrets.TAT_CORE_ACCESS_TOKEN }}'
        email: '${{ secrets.EMAIL }}'

    - name: Add Key property
      run: echo "${{ secrets.ANDROID_KEY_PROPERTIES }}" > android/key.properties

    - name: Get dependencies
      run: flutter pub get

    - name: Build appbundle
      run: flutter build appbundle --flavor beta
